// :host ::ng-deep .p-panel.p-component,
// :host ::ng-deep .p-panel .p-panel-header,
// :host ::ng-deep .p-panel .p-panel-content

:host ::ng-deep .p-panel.p-component{
    margin: 40px 70px;
}

:host ::ng-deep .p-panel .p-panel-content{
    background:#D2DEE5;
}

:host ::ng-deep .p-panel .p-panel-header{
    background: #88B3CD;
    background-image: url('../logo\ SFS\ 2.png');
    background-repeat: no-repeat;
    background-position: 97% 50%; 
    background-size: 10%;
    color:#fff;
    user-select: none;
}