

<div class="grid">
    <div class="col-12">
<p-panel header="Ingrese su nro. de documento y presione BUSCAR">
    <p-progressSpinner *ngIf="clicked" ></p-progressSpinner>

      <div class="grid p-fluid">
      <div class="col-12 md:col-12">
          <div class="p-inputgroup inputgroupafi">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text"  class="w-full input-afi" pInputText placeholder="Ingrese su DNI" [(ngModel)]="doc">
            </div>
          </div>
        </div>
          <div class="grid">  
            <div class="col-4">
                <button pButton pRipple type="button"  class="w-full btn-afi"  label="1"(click)="writeNro('1')"></button>
              </div>      
              <div class="col-4">
                <button pButton pRipple type="button" class="w-full btn-afi"  label="2"(click)="writeNro('2')"></button>
              </div>      
              <div class="col-4">
                <button pButton pRipple type="button" class="w-full btn-afi"  label="3"(click)="writeNro('3')"></button>
              </div>
            </div>      
            <div class="grid">  
              <div class="col-4">
                  <button pButton pRipple type="button" class="w-full btn-afi"  label="4"(click)="writeNro('4')"></button>
                </div>      
                <div class="col-4">
                  <button pButton pRipple type="button" class="w-full btn-afi"  label="5"(click)="writeNro('5')"></button>
                </div>      
                <div class="col-4">
                  <button pButton pRipple type="button" class="w-full btn-afi"  label="6"(click)="writeNro('6')"></button>
                </div>
              </div> 
              <div class="grid">  
                <div class="col-4">
                    <button pButton pRipple type="button" class="w-full btn-afi"  label="7"(click)="writeNro('7')"></button>
                  </div>      
                  <div class="col-4">
                    <button pButton pRipple type="button" class="w-full btn-afi"  label="8"(click)="writeNro('8')"></button>
                  </div>      
                  <div class="col-4">
                    <button pButton pRipple type="button" class="w-full btn-afi"  label="9"(click)="writeNro('9')"></button>
                  </div>
                </div>      
                <div class="grid">  
                  <div class="col-4">
                    <button pButton pRipple type="button" class="w-full btn-afi p-button-secondary btn-back" (click)="eraseNro()"></button>
                  </div>
                  <div class="col-4">
                    <div class="bgbtn">
                      <button pButton pRipple type="button" class="w-full btn-afi"  label="0"(click)="writeNro('0')"></button>
                    </div>
                  </div>      
                  <div class="col-4">
                    <button pButton pRipple type="button" [disabled]="clicked" class="w-full btn-afi btn-b p-button-success" (click)="verificarCobertura()"><b>Buscar</b><i class="pi pi-search"></i></button>
                  </div> 
              </div>       
              </p-panel>
            </div>
    


  <p-dialog header="Estimado Paciente" [(visible)]="display">

    <p [innerHTML]="mensaje"></p>
 
</p-dialog>

</div>



