.btn-afi{
    height: 80px;
    font-size:1.2em;
    opacity: 0.95;
}
.btn-b{
    display: flex;
    b{
        width: 100%;
        margin-bottom: 3px;
    }
    i{  
        position: relative;
        right: 50px;
    }
}
.p-button-secondary{
        background-image: url(../backwhite.png) !important;
        background-repeat: no-repeat !important;
        background-position: 50% 50% !important;
        background-size: 30px !important;
}
.input-afi{
    font-size: 1.2em;
}
@import './stylePpanel';