

<div class="grid">
  <div class="col-12">
    <p-panel header="Seleccione un Prestador">
        <div class="grid">  
          <div class="col-12" *ngFor="let fil of list; index as i">
            <div class="col-12 md:col-12">
              <div class="p-inputgroup">
                <button style="height: 70px" type="button"  label="seleccionar" pButton pRipple icon="pi pi-check"  (click)="elegirPresta(fil[0].value)" styleClass="p-button-success"></button>    
                <input type="text"  pInputText  value="{{fil[1].value}}">   
              </div>
            </div>
          </div>
        </div>

        <div class="grid">  
          <div class="col-6">
            <button style="height: 70px" pButton pRipple type="button" label="volver pantalla anterior"  class="w-full p-button-secondary" icon="pi pi-arrow-left" (click)="backAnt()"></button>
          </div>      
          <div class="col-6">
            <button style="height: 70px" pButton pRipple type="button" label="volver al comienzo"  class="w-full p-button-secondary" icon="pi pi-arrow-left" (click)="back()"></button>
          </div>      
      </div>      
    

    </p-panel>
    </div>


  
  <p-dialog header="Estimado Paciente" [(visible)]="display">

    <p [innerHTML]="mensaje"></p>
 
</p-dialog>
</div>
<iframe style="display: none;" id="print-iframe" name="print-iframe"  width="800" height="600">
  
</iframe>



