

<div class="grid">
    <div class="col-12">
      <p-panel header="Seleccione su cobertura">
        <p>Afiliado/a: {{data.data.data[0][1].value}}</p>

        
        <div  *ngFor="let fil of data.data.data; index as i">
        
          <div class="col-12 md:col-12">
            <div class="p-inputgroup">
              <input class="inputListado" type="text" disabled pInputText value="{{fil[3].value}}">         
              <button class="btn-afi btnlistado" type="button" pButton pRipple (click)="elegirCobertura(fil[0].value)" label="Seleccionar"></button>
            </div>
        </div>

          <br>    
      </div>
      <div class="grid">  
        <div class="col-6">
          <p-button label="Volver"  icon="pi pi-arrow-left" styleClass="p-button-secondary" (click)="back()"></p-button>
        </div>
      </div>
      </p-panel>
    </div>

  </div>

  
