

<div class="grid">
  <div class="col-12">
    <p-panel header="Seleccione una especialidad para su atencion">
        <div class="grid">  
          <div class="col-12" *ngFor="let fil of list; index as i">
            <div class="col-12 md:col-12">
              <div class="p-inputgroup">
                <button type="button" label="Seleccionar" pButton pRipple icon="pi pi-check" (click)="elegirEspeci(fil[0].value)" styleClass="p-button-success" class="btn-afi btnlistado"></button>    
                <input class="inputListado" type="text"  pInputText  value="{{fil[1].value}}">   
              </div>
            </div>
          </div>
        </div>
        <div class="grid">  
          <div class="col-6">
            <button pButton pRipple type="button" label="Volver pantalla anterior"  class="w-full p-button-secondary btn-afi" icon="pi pi-arrow-left" (click)="backAnt()"></button>
          </div>      
          <div class="col-6">
            <button pButton pRipple type="button" label="Volver al comienzo"  class="w-full p-button-secondary btn-afi" icon="pi pi-arrow-left" (click)="back()"></button>
          </div>      
      </div>      
    

    </p-panel>
    </div>


  
  <p-dialog header="Estimado Paciente" [(visible)]="display">

    <p [innerHTML]="mensaje"></p>
 
</p-dialog>
</div>



