
<div class="grid">
  <div class="col-1"></div>
  <div class="col-10">
    <p-panel header="Listado de Turnos">
      <div class="grid">  
        <div class="col-12" *ngFor="let fil of list.data; index as i">
          <div class="col-12 md:col-12">
            <div class="p-inputgroup">
              <button type="button"  *ngIf="fday===fil[2].value" label="dar presente" pButton pRipple icon="pi pi-check" (click)="darPresenteTurno(fil[1].value)" styleClass="p-button-success"></button>    
              <input type="text"  pInputText disabled value="fecha: {{fil[2].value}} hora: {{fil[3].value}} Prestador: {{fil[5].value}}">   
              <button type="button" label="cancelar turno" (click)="confirm(fil[1].value)" pButton pRipple icon="pi pi-times"  class="p-button-danger"></button>    
            </div>
          </div>
        </div>
      </div>

      <br>
      <br>
      <div class="grid">  
        <div class="col-3 w-full">
          <p-button label="solicitar nuevo turno/cita"  icon="pi pi-calendar" styleClass="p-button-success" (click)="elegirEspecialidad()"></p-button>
        </div>      
        <div class="col-3 w-full">
          <p-button label="volver al comienzo"  icon="pi pi-arrow-left" styleClass="p-button-danger" (click)="back()"></p-button>
        </div>      
    </div>      
      
    <p-confirmDialog header="Confirmar baja turno" icon="pi pi-exclamation-triangle"></p-confirmDialog>

    </p-panel>
  </div>
    

  <div class="col-1"></div>

</div>
  <p-dialog header="Estimado Paciente" [(visible)]="display">

    <p [innerHTML]="mensaje"></p>
 
</p-dialog>

<iframe style="display: none;" id="print-iframe" name="print-iframe"  width="800" height="600">
  
</iframe>




